---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="Services">
    <Container>
        <Pagetitle>
            <Fragment slot="title">Our Services</Fragment>
            <Fragment slot="desc">Services that we offer.</Fragment>
        </Pagetitle>

        <div class="mx-auto max-w-xl text-center mt-14">
           
            <p class="font-semibold text-[1.2rem]">Web development</p>
            <p class="text-md leading-relaxed text-gray-600">
                We build any web project with
React, NextJS, Django or any
new technology. Full backend
and interactive design
included.
            </p>
            <br/><br/>
            <h4 class="font-semibold text-[1.2rem]">Mobile Development</h4>
            <p class="text-md leading-relaxed text-gray-600">
                We build Native Android and IOS
apps using platform-specific
technologies or using generic
frameworks like Flutter & React
native.
            </p>
        </br></br>
            <h4 class="font-semibold text-[1.2rem]">Smart Contracts &
                NFTs</h4>
            <p class="text-md leading-relaxed text-gray-600">
                We build industry standard
smart contracts and NFTs for all
the major blockchain including
Ethereum, Solana and most
level 1 & level 2 smart chains.
            </p>
            </br></br>
            <h4 class="font-semibold text-[1.2rem]">Custom Software
                Development</h4>
            <p class="text-md leading-relaxed text-gray-600">
                We provide customized solutions
tailored to your specific
requirements, delivering
innovative and efficient solutions
for the success of your venture.
            </p>
        </br></br>
            <div class="mt-8">
                <Link href="/contact" style="primary">Get in touch</Link>
            </div>
        </div>
    </Container>
</Layout>
