---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="Services">
    <Container>
        <Pagetitle>
            <Fragment slot="title">Our Services</Fragment>
        </Pagetitle>

        <div class="mx-auto max-w-xl text-center mt-14">
            <h2 class="font-semibold text-[1.5rem]">Web development</h2>
            <p class="text-lg leading-relaxed text-gray-600">
                Our forte is crafting exquisite and efficacious websites that captivate and enthrall the viewers. Whether you require a rudimentary landing page, a comprehensive content management system, or a convoluted web application, we will actualize your online vision. We guarantee responsive designs, intuitive user interfaces, and seamless navigation to furnish an exceptional user experience. We could create web apps in popular frameworks like React JS, Next JS, and Astro JS with full backend support with Express JS or Django
            </p>
            <h2 class="font-semibold text-[1.5rem]">Dapp development</h2>
            <p class="text-lg leading-relaxed text-gray-600">
                We excel in Web3 DApp development, harnessing blockchain platforms like Ethereum, Solana, and Polygon to create decentralized, secure, and transparent applications. Whether it’s devising decentralized finance (DeFi) solutions, NFT marketplaces, or blockchain-based voting systems, we have the acumen to actualize your Web3 DApp concepts.
            </p>
            <h2 class="font-semibold text-[1.5rem]">Mobile app development</h2>
            <p class="text-lg leading-relaxed text-gray-600">
                We offer bespoke app development services aligned with your specific needs and brand identity. We excel in native app development using platform-specific technologies for optimal performance. We leverage cross-platform development frameworks to maximize app reach and minimize development costs.
                Our expertise in cross-platform development using frameworks like React Native, and Flutter allows us to maximize app reach and minimize development costs. We prioritize UI and UX design to create aesthetically pleasing and intuitive mobile apps that enhance user interaction.
            </p>
            <h2 class="font-semibold text-[1.5rem]">Web development</h2>
            <p class="text-lg leading-relaxed text-gray-600">
                Our forte is crafting exquisite and efficacious websites that captivate and enthrall the viewers. Whether you require a rudimentary landing page, a comprehensive content management system, or a convoluted web application, we will actualize your online vision. We guarantee responsive designs, intuitive user interfaces, and seamless navigation to furnish an exceptional user experience. We could create web apps in popular frameworks like React JS, Next JS, and Astro JS with full backend support with Express JS or Django
            </p>
            <div class="mt-8">
                <Link href="/contact" style="primary">Get in touch</Link>
            </div>
        </div>
    </Container>
</Layout>
